.animation {
    opacity: 0;
    transition: all 0.7s ease;
    transform: translateY(-50px);
    display: inline-block;
    color: rgb(173, 173, 255);
}

.animation.fade {
    opacity: 1;
    transform: translateY(0px);
    color: black;
}