p {
    color: black;
    font-weight: bold;
    font-size: 20px;
}


header {
    background: #AEACFB;
    background-size: cover;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    margin: auto;
}

.navbar {
    padding: .7rem;
}

.navbar-nav li {
    padding-right: 3.5rem;
}

nav {
    font-weight: bold;
}

body{
    text-align: center;
}

.footer{
    position: fixed;
    bottom: 0%;
    right: 0%;
}

@media screen and (max-width: 650px) {
    .footer{
        display: none;
    }

    #logo{
        float: left;
        width: 50%;
    }
}