/* p {
    color: black;
    font-weight: bold;
    font-size: 20px;
} */

.innerHeader {
    background-color: red;
    margin: 0 20px;
    width: 1200px;
    display: flex;
    flex-wrap: nowrap;
}

.navbar-nav li {
    padding: 0 1.5rem;
}

nav {
    font-weight: bold;
}

body {
    overflow-x: hidden;
    /* text-align: center; */
    /* fix */
    background: #AEACFB;
}

@media screen and (max-width: 1000px) {
    .footer {
        display: none;
    }
    body {
        overflow: scroll;
    }
}