body {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(125deg, #1881f2, #18bbed);
}

.container {
    width: 100%;
    top: 50%;
    overflow-y: hidden;
    text-align: center;
    color: #343434
}

.display-4 {
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 1.2
}

h2 {
    font-family: 'Indie Flower', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.container a {
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    background-image: linear-gradient(to right, #1376bd, #1881f2, #18a6f2);
    background-size: 200%;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.container a:hover {
    background-position: right;
}